%tr
  %td.text-center=weather_type.name
  %td.text-center=weather_type.is_precip ? 'yes' : 'no'
  %td.text-center=weather_type.runs.size
  %td.text-right
    =link_to 'Edit', edit_weather_type_path(weather_type), class: 'btn btn-xs btn-primary'