- provide(:title, 'Edit weather type')
.col-12
  %h1 Edit weather type
  = render 'form', button_title: 'Update', weather_type: @weather_type
  = link_to 'Back', weather_types_path, class: 'btn btn-secondary'