<% if @run.errors.any? %>
  <div class="alert alert-danger">
    <p><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</p>

    <ul>
    <% @run.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
