- page_title = build_page_title(params)
- provide(:title, page_title)

.row
  .col-12
    %h1=page_title
    .text-center
      = will_paginate(@runs, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer)
    .card
      .card-header=page_entries_info
      %table.table.table-hover.runs
        %thead
          %tr
            %th Start time
            %th Distance
            %th Duration
            %th Pace
            %th Weather
            %th Climb
            %th Notes
        = render @runs
    .text-center
      = will_paginate(@runs, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer)
    = link_to 'New Run', new_run_path, class: 'btn btn-large btn-success'