/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$secondary-yellow:  #8a6c4c;
$secondary-orange:  #d1952b;

$temp0:   #811561;
$temp10:  #78197d;
$temp20:  #470393;
$temp30:  #001796;
$temp40:  #005d96;
$temp50:  #009675;
$temp60:  #967d00;
$temp70:  #963700;
$temp80:  #8e0817;
$temp90:  #960043;
$temp100: #8d0962;

$brand-primary: #002a46;
$brand-success: #0d750d;
$brand-info:    #0d5f75;
$brand-warning: #754c0d;
$brand-danger:  #75100d;

$navbar-default-bg:               $brand-primary;
$navbar-default-link-color:       $secondary-yellow;
$navbar-default-link-hover-color: $secondary-yellow;
$navbar-default-link-hover-bg:    darken($navbar-default-bg, 5%);
$navbar-default-brand-hover-bg:   darken($navbar-default-bg, 5%);

$pagination-hover-bg: lighten($brand-primary, 75%);

/* bootstrap */

@import "bootstrap";
@import "bootstrap-datetimepicker";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;

  &.details {
    font-size: 3.5em;
    line-height: 1em;
    text-align: center;

    .glyphicon {
      font-size: 75%;
    }
  }
}

label {
  text-transform: uppercase;
  font-weight: 600;
  text-align: right;
}

.form-group > label {
  margin-top: 7px;
}

table {
  th {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 80%;
  }
}

.btn, .pagination {
  text-transform: uppercase;
  font-weight: 600;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* form elements */

select.date-select {
  width: auto;
}

/* links */

a:visited {
  &.btn-primary {
    color: $btn-primary-color;
  }
  &.btn-success {
    color: $btn-success-color;
  }
  &.btn-info {
    color: $btn-info-color;
  }
  &.btn-warning {
    color: $btn-warning-color;
  }
  &.btn-danger {
    color: $btn-danger-color;
  }
}

/* weather */

.temp0 {
  color: $temp0;
}
.temp10 {
  color: $temp10;
}
.temp20 {
  color: $temp20;
}
.temp30 {
  color: $temp30;
}
.temp40 {
  color: $temp40;
}
.temp50 {
  color: $temp50;
}
.temp60 {
  color: $temp60;
}
.temp70 {
  color: $temp70;
}
.temp80 {
  color: $temp80;
}
.temp90 {
  color: $temp90;
}
.temp100 {
  color: $temp100;
}
