/* mixins, variables, etc. */

$secondary-yellow:  #8a6c4c;
$secondary-orange:  #d1952b;

$temp0:   #811561;
$temp10:  #78197d;
$temp20:  #470393;
$temp30:  #001796;
$temp40:  #005d96;
$temp50:  #009675;
$temp60:  #967d00;
$temp70:  #963700;
$temp80:  #8e0817;
$temp90:  #960043;
$temp100: #8d0962;

$primary: #002a46;

$navbar-default-bg:               $primary;
$navbar-default-link-color:       $secondary-yellow;
$navbar-default-link-hover-color: $secondary-yellow;
$navbar-default-link-hover-bg:    darken($navbar-default-bg, 5%);
$navbar-default-brand-hover-bg:   darken($navbar-default-bg, 5%);

$pagination-hover-bg: lighten($primary, 75%);

/* bootstrap */

@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.card {
  margin-bottom: 1rem;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;

  &.details {
    font-size: 3.5em;
    line-height: 1em;
    text-align: center;

    .glyphicon {
      font-size: 75%;
    }
  }
}

label {
  text-transform: uppercase;
  font-weight: 600;
  text-align: right;
}

.form-group > label {
  margin-top: 7px;
}

table {
  th {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 80%;
  }
}

.btn, .pagination {
  text-transform: uppercase;
  font-weight: 600;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-300;
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* form elements */

select.date-select {
  width: auto;
}

/* weather */

.temp0 {
  color: $pink;
}
.temp10 {
  color: $purple;
}
.temp20 {
  color: $indigo;
}
.temp30 {
  color: $blue;
}
.temp40 {
  color: $cyan;
}
.temp50 {
  color: $teal;
}
.temp60 {
  color: $green;
}
.temp70 {
  color: $yellow;
}
.temp80 {
  color: $orange;
}
.temp90 {
  color: $red;
}
.temp100 {
  color: $pink;
}

/* icons */

.icon {
  height: 1.25rem;
  margin-top: -0.25rem;
}

/* home page graph */

svg {
  vertical-align: inherit;
}

.graph-bar {
  fill: $primary;
}

.graph-bar-label {
  font-size: 0.8rem;
  text-anchor: middle;
}

.graph-bar-label-category {
  fill: white;  
}

.graph-bar-label-amount {
  fill: black;
}
