- provide(:title, 'Edit shoe')
%h1 Editing shoe
= render 'form', button_title: 'Update', shoe: @shoe
= link_to 'Show', @shoe, class: 'btn btn-info'
= link_to 'Back', shoes_path, class: 'btn btn-warning'