%div{aria: {live: 'polite', atomic: 'true'}, style: 'position: relative'}
  %div{style: 'position: absolute; top: 0; right: 0'}
    - %i(success info warning danger).each do |type|
      - if flash[type]
        .toast{role: 'alert', aria: {live: 'assertive', atomic: 'true'}, 'data-delay': 1000}
          .toast-header{class: "bg-#{type}"}
            %strong Alert
          .toast-body
            = flash[type]
:coffee
  $('.toast').toast('show')