%footer.footer.col-12
  %small
    Run Log &mdash; featuring
    = link_to 'Entypo pictograms', 'http://www.entypo.com'
    by Daniel Bruce
  %nav
    %ul
      -# to be filled in later
      -# syntax: %li=link_to 'About', '#'