%footer.footer.col-xs-12
  %small
    Run Log &mdash; featuring icons by
    %a{href: 'http://glyphicons.com'} Glyphicons
  %nav
    %ul
      -# to be filled in later
      -# syntax: %li=link_to 'About', '#'